<!doctype html>
<html lang="en" class="bg-base-200 min-w-viewport">

<head>
  <meta charset="UTF-8" />
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0" /> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title><%- title %></title>
  <script type="text/javascript">
    try {
      const theme = localStorage.getItem('theme')
      theme && document.documentElement.setAttribute('data-theme', theme)
    } catch (e) { }
  </script>
</head>

<body class="!w-full ">
  <div id="app" class="flex flex-col min-h-screen"></div>
  <script type="module" src="/src/main.ts"></script>
  <%- injectScript %>
</body>

</html>
